* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-sizing: border-box;
}

.nav {
    background: #8080809e;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 5px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: #8080809e;
    }

    &:active {
        transform: scale(0.98);
    }

    img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
}

.navRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    p {
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            color: white;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}